= admin_form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, wrapper: :admin_landing do |f|
  = f.input :email, placeholder: 'Email', required: true, autofocus: true
  = f.full_size_submit '寄出'

= render partial: 'users/shared/links'
