- append_page_button "Show", admin_administrator_path(administrator)
- append_page_button "Edit", edit_admin_administrator_path(administrator, redirect_to: url_for(request.params)), class: 'btn-success'
- append_page_button "Delete", admin_administrator_path(administrator, redirect_to: ENV['HTTP_REFERER'] || admin_administrators_path), class: 'btn-danger', method: :delete, 'data-confirm' => 'Delete?'
