.img-circle.profile_img {
  width: 56px;
  height: 56px;
}

.panel_toolbox > li {
  float: right;
}

.page-title .title_right {
  text-align: right;
}

form.form-horizontal .checkbox > label {
  padding-left: 0px;
}

.parsley-error input, .parsley-error select, .parsley-error textarea {
  background: #FAEDEC;
  border: 1px solid #E85445
}

.parsley-errors-list {
  color: #E74C3C;
  padding-left: 0;
}

.table {
  margin-bottom: 5px;
}

.checkbox label, .radio label {
  padding-left: 0px;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
  padding-top: 4px;
}

.icheckbox_flat-green, .iradio_flat-green {
  margin-right: 5px;
}

.admin-landing {
  background: #F7F7F7;
  .login_content {
    h1:before, h1:after {
      top: 44px;
    }
    a.btn:hover {
      text-decoration: none;
    }
    form input[type=submit] {
      float: none;
      margin: auto;
    }
    .alert.alert-dismissible {
      text-shadow: none;
    }
  }
}

form .nested_switch {
  margin: 0 0 20px;
}

form .btn-group {
  margin-bottom: 5px;
}

table.table thead {
  background: rgba(52,73,94,.94);
  color: #ECF0F1
}
