defaults: &defaults
  host: <%= ENV['APP_HOST'] %>
  default_protocol: 'https'
  assets_host: <%= ENV['ASSET_HOST'] %>
  redis:
    url: <%= ENV['REDIS_URL'] %>
  dalli:
    servers:
    - "<%= ENV['MEMCACHED_SERVER'] %>"
    options:
      namespace: "<%= ENV['MEMCACHED_NAMESPACE'] %>"
      expires_in: 0
      threadsafe: true
      failover: true
      compress: false
      keepalive: true
      username:
      password:
      pool_size: 1
  aws:
    access_key_id: "<%= ENV['AWS_ACCESS_KEY_ID'] %>"
    secret_access_key: "<%= ENV['AWS_SECRET_ACCESS_KEY'] %>"
    region: "<%= ENV['AWS_REGION'] %>"
  sidekiq:
    url: "<%= ENV['REDIS_URL'] %>"
  carrierwave:
    region: "<%= ENV['AWS_REGION'] %>"
    bucket: "<%= ENV['ASSET_AWS_BUCKET'] %>"
    host: "<%= ENV['ASSET_HOST'] %>"
  mailer:
    default_sender: "<%= ENV['MAILER_SENDER'] %>"
  omniauth:
    providers:
      facebook:
        token: "<%= ENV['OAUTH_FB_TOKEN'] %>"
        secret: "<%= ENV['OAUTH_FB_SECRET'] %>"
        options:
          perms:
            - "email"
      github:
        token: "<%= ENV['OAUTH_GITHUB_TOKEN'] %>"
        secret: "<%= ENV['OAUTH_GITHUB_SECRET'] %>"
        options:
          scope: "user,user:email"
      google_oauth2:
        token: "<%= ENV['OAUTH_GOOGLE_TOKEN'] %>"
        secret: "<%= ENV['OAUTH_GOOGLE_SECRET'] %>"
  sitemap:
    path: "sitemaps/"
  ga_id: "<%= ENV['GA_ID'] %>"

development:
  <<: *defaults
  carrierwave:
    region: "<%= ENV['AWS_REGION'] %>"
    bucket: "<%= ENV['ASSET_AWS_BUCKET'] %>"
    host: "assets-demo-5fpro-com.s3.amazonaws.com"

test:
  <<: *defaults

production:
  <<: *defaults

staging:
  <<: *defaults
