defaults: &defaults
  dalli:
    servers:
    - "<%= ENV['MEMCACHED_SERVER'] %>"
    options:
      namespace: "<%= ENV['MEMCACHED_NAMESPACE'] || ENV['APP_NAME'] %>"
      expires_in: 0
      threadsafe: true
      failover: true
      compress: false
      keepalive: true
      username:
      password:
      pool_size: 1
  omniauth:
    providers:
      facebook:
        token: "<%= ENV['OAUTH_FB_TOKEN'] %>"
        secret: "<%= ENV['OAUTH_FB_SECRET'] %>"
        options:
          perms:
            - "email"
      github:
        token: "<%= ENV['OAUTH_GITHUB_TOKEN'] %>"
        secret: "<%= ENV['OAUTH_GITHUB_SECRET'] %>"
        options:
          scope: "user,user:email"
      google_oauth2:
        token: "<%= ENV['OAUTH_GOOGLE_TOKEN'] %>"
        secret: "<%= ENV['OAUTH_GOOGLE_SECRET'] %>"

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults

staging:
  <<: *defaults
