development: &default
  adapter: 'postgis'
  encoding: 'unicode'
  database: 'myapp_development'
  host: 'localhost'
  username: 'root'
  password: ''
  postgis_extension: true
  schema_search_path: 'public, postgis'
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

test: &TEST
  <<: *default
  database: 'myapp_test'

production:
  <<: *default
  database: 'myapp_production'
