= admin_link_to 'See more examples', 'https://colorlib.com/polygon/gentelella/', target: '_blank', size: 'l', color: :primary, icon: :reply, round: true, class: 'zzz', rel: 'no-follow' do

h3= 'admin_app_button_to'
= admin_app_button_to 'Go To Google', 'https://google.com', icon: :pencil
