- append_page_button 'Show', admin_category_path(category)
- append_page_button 'Revisions', revisions_admin_category_path(category)
- append_page_button 'Edit', edit_admin_category_path(category, redirect_to: url_for(request.params)), class: 'btn-success'
- append_page_button 'Delete', admin_category_path(category, redirect_to: ENV['HTTP_REFERER'] || admin_categories_path), class: 'btn-danger', method: :delete, 'data-confirm' => 'Delete?'
