- [57, 60, 72, 76, 114, 120, 144, 152, 180].each do |size|
  link href=("#{asset_path "favicon/apple-touch-icon-#{size}x#{size}.png"}") rel="apple-touch-icon" sizes="#{size}x#{size}" /
  link href=("#{asset_path "favicon/apple-touch-icon-#{size}x#{size}-precomposed.png"}") rel="apple-touch-icon-precomposed" sizes="#{size}x#{size}" /
link href=("#{asset_path 'favicon/favicon-32x32.png'}") rel="icon" sizes="32x32" type="image/png" /
link href=("#{asset_path 'favicon/favicon-16x16.png'}") rel="icon" sizes="16x16" type="image/png" /
link href=("#{asset_path 'favicon/manifest.json'}") rel="manifest" /
link color="#3a2b84" href=("#{asset_path 'favicon/safari-pinned-tab.svg'}") rel="mask-icon" /
link href=("#{asset_path 'favicon/favicon.ico'}") rel=("shortcut icon") /
meta content="#{ENV['APP_NAME']}" name="apple-mobile-web-app-title" /
meta content="#{ENV['APP_NAME']}" name="application-name" /
meta content="#ffffff" name="msapplication-TileColor" /
meta content=("#{asset_path 'favicon/browserconfig.xml'}") name="msapplication-config" /
meta content="#ffffff" name="theme-color" /
