%footer.footer
  = render_list :class => "nav nav-pills pull-right" do |li|
    - #li << link_to( "Link1", "#")
    - #li << link_to( "Link2", "#")
    - #li << link_to( "Link3", "#")
    - #li << link_to( "Link4", "#")
  %p.copyright
    Copyright @#{Time.now.year} #{app_name} All rights reserved.